<div class="row">
    <div class="col-md-4 col-md-offset-4">
      <br><br>
      <br><br>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}<!--Validation, in handlebars, we can't use if to check equality-->
        <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-envelope"></span>  Cardigram Signup
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading text-success">
                                Your personalized medical database.
                            </h4>
                            <p class="margin-top-10 margin-bottom-20">
                                Predicts your gensini score!
                            </p>
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"><!--Identifies if the browser sending the token
            is the same browser that received the session in the first place, which protects us from session getting stolen,
            if I remove csrf token, I will get an error-->
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>
