<link rel='stylesheet' href='/stylesheets/dashboard.css' />

<!--<a id="test">Show/Hide</a>

<div id = "harkuch" style="display:none;" class="ct-chart ct-major-third">
          </div>

          <script type="text/javascript" src="javascripts/charts.js"></script>

  <script>
  var A = document.getElementById('test');
  window.onload = function() {
  xmlhttp = new XMLHttpRequest();
  xmlhttp.open("GET", "/charts", true);
  xmlhttp.responseType = 'json';
  xmlhttp.onreadystatechange = function() {
    if(xmlhttp.status == 200) {
      var data = xmlhttp.response;
      console.log(data);
	var text = document.getElementById("harkuch");
	if(text.style.display == "block") {
    		text.style.display = "none";
  	}
	else{
		text.style.display = "block";
	}
      drawChart(data);
    }
  }
  xmlhttp.send();
  console.log("Request was sent to server");
  }
  </script>-->

  <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard">Cardigram</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{{Name}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/userprofile"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>


                        <li class="divider"></li>
                        <li>
                            <a href="/user/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav side-nav">
                  <li>
                      <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                  </li>
                  <li>
                      <a href="/getcharts"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                  </li>
                  <li>
                      <a href="/table"><i class="fa fa-fw fa-table"></i> Tables</a>
                  </li>
                  <li>
                      <a href="/report"><i class="fa fa-fw fa-database"></i> Reports</a>
                  </li>
                  <li >
                      <a href="/gensini"><i class="fa fa-fw fa-gratipay"></i> Gensini</a>
                  </li>
                  <li class="active">
                      <a href="/uploaddata"><i class="fa fa-fw fa-upload"></i> Upload data</a>
                  </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header">
                          Upload
                      </h1>
                      <ol class="breadcrumb">
                          <li>
                              <i class="fa fa-dashboard"></i>  <a href="/dashboard"><b>Dashboard</b></a>
                          </li>
                          <li class="active">
                              <i class="fa fa-upload"></i> Upload your medical data.
                          </li>
                      </ol>
                  </div>
              </div>



              <div class="btn-group" role="group" aria-label="...">
<button type="button" id = "button1" class="btn btn-default"><a href="#haematology">Haematology</a></button>
<button type="button" id = "button2" class="btn btn-default"><a href="#lipid">Lipid Profile</a></button>
<button type="button" id = "button3" class="btn btn-default"> <a href="#kidney">Kidney(KFT)</a></button>
<button type="button" id = "button4" class="btn btn-default"> <a href="#liver">Liver(LFT)</a></button>
</div>
<br>




              <div>

              <section id="haematology">
                  <h1>Haematology</h1><br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">1.</span>
              <input id="Haemoglobin" type="text" class="form-control" placeholder="Haemoglobin(gm/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">2.</span>
              <input id="Leucocyte" type="text" class="form-control" placeholder="Leucocyte count(/c.mm)" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">3.</span>
              <input id="Neutrophils" type="text" class="form-control" placeholder="Neutrophils(%)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">4.</span>
              <input id="Lymphocytes" type="text" class="form-control" placeholder="Lymphocytes(%)" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">5.</span>
              <input id="Eosinophils" type="text" class="form-control" placeholder="Eosinophils(%)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">6.</span>
              <input id="Monocytes" type="text" class="form-control" placeholder="Monocytes(%)" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
            </section>

              <br>

              <section id="lipid">
                <h1>Lipid profile test</h1><br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">1.</span>
              <input id="Cholesterol" type="text" class="form-control" placeholder="S.Cholesterol(mg/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">2.</span>
              <input id="Triglycerides" type="text" class="form-control" placeholder="S.Triglycerides(mg/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">3.</span>
              <input id="HDLCholesterol" type="text" class="form-control" placeholder="S. HDL Cholesterol(mg/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">4.</span>
              <input id="LDLCholesterol" type="text" class="form-control" placeholder="S. LDL Cholesterol(mg/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">5.</span>
              <input id="VLDLCholesterol" type="text" class="form-control" placeholder="S. VLDL Cholesterol(mg/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">6.</span>
              <input id="LDLHDLCholesterol" type="text" class="form-control" placeholder="LDL/HDL Cholesterol" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
            </section>

              <br>

              <section id="kidney">
                  <h1>Kidney functioning test</h1><br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">1.</span>
              <input id="Urea" type="text" class="form-control" placeholder="Blood Urea(mg/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">2.</span>
              <input id="Creatinine" type="text" class="form-control" placeholder="S.Creatinine(mg/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">3.</span>
              <input id="Sodium" type="text" class="form-control" placeholder="Sodium(mEq/L)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">4.</span>
              <input id="Uric" type="text" class="form-control" placeholder="S.Uric Acid(mg/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">5.</span>
              <input id="Potassium" type="text" class="form-control" placeholder="S.Potassium(mEq/L)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">6.</span>
              <input id="Phosphorous" type="text" class="form-control" placeholder="S.Phosphorous(mg/dl)" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
            </section>

              <br>

              <section id="liver">
                  <h1>Liver functioning test</h1><br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">1.</span>
              <input id="Bilirubin" type="text" class="form-control" placeholder="S.Bilirubin(mg/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">2.</span>
              <input id="Alkaline" type="text" class="form-control" placeholder="S.Alkaline Phosphate(U/L)" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">3.</span>
              <input id="Protein" type="text" class="form-control" placeholder="S.protein(gm/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">4.</span>
              <input id="Albumin" type="text" class="form-control" placeholder="Albumin(gm/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">5.</span>
              <input id="Gamma" type="text" class="form-control" placeholder="Gamma G.T.(u/l)" aria-describedby="sizing-addon2">
              </div>
              </div>
              <div class="col-lg-6">
              <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">6.</span>
              <input id="Globulin" type="text" class="form-control" placeholder="S.Globulin(gm/dL)" aria-describedby="sizing-addon2">
              </div>
              </div>
              </div>
              <br>
            </section>

              <br>



              <button type="button" class="btn btn-primary next" >Submit Data</button>

              </div>




              <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Medical Data Upload</h4>
                    </div>
                    <div class="modal-body">
                      <p class="input-sm" id="txtfname"></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" id = "closebutton" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->




                <!-- Page Heading -->


                <!--    <p>Welcome</p>
                        <form method='post' action='upload' enctype="multipart/form-data">
                          <input type="file" class='filestyle' data-buttonName="btn-primary" name='fileUploaded' id='uploadFile'>
                      <br>
                        <input type='submit'>


                </form> -->
<!--<div class="col-lg-6 col-sm-6 col-6">
              <form method='post' action='upload' enctype="multipart/form-data">

            <h4>Choose a file to upload</h4>
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" name='fileUploaded' style="display: none;" multiple>
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>
            <br>
            <input type='submit' class="btn btn-primary" value='Upload'>
            </form>
        </div>-->








            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script>
    $("#button1").click(function() {
        $('html, body').animate({
            scrollTop: $("#haematology").offset().top
        }, 2000);
    });
    $("#button2").click(function() {
        $('html, body').animate({
            scrollTop: $("#lipid").offset().top
        }, 2000);
    });
    $("#button3").click(function() {
        $('html, body').animate({
            scrollTop: $("#kidney").offset().top
        }, 2000);
    });
    $("#button4").click(function() {
        $('html, body').animate({
            scrollTop: $("#liver").offset().top
        }, 2000);
    });
    </script>



    <script>

    $('.next').click(function() {



        var negative = $(this).parent().find("input").filter(function() {
                return this.value <0 ;
            });
        var empty = $(this).parent().find("input").filter(function() {
                return this.value === "";
            });
            var numeric = $(this).parent().find("input").filter(function() {
                    return (isNaN(this.value));
                });
            if(empty.length) {
                //At least one input is empty
                $("#myModal").modal("show");
                document.getElementById("txtfname").innerHTML = "Please input all the fields.";
            }

            else if(numeric.length) {
                //At least one input is empty
                $("#myModal").modal("show");
                document.getElementById("txtfname").innerHTML = "All the fields should have numeric values.";
            }
            else if(negative.length) {
                //At least one input is empty
                $("#myModal").modal("show");
                document.getElementById("txtfname").innerHTML = "All the fields should have positive values.";
            }
    else{

    var hae = document.getElementById("Haemoglobin").value;
    var leu = document.getElementById("Leucocyte").value;
    var neu = document.getElementById("Neutrophils").value;
    var lym = document.getElementById("Lymphocytes").value;
    var eos = document.getElementById("Eosinophils").value;
    var mon = document.getElementById("Monocytes").value;
    var cho = document.getElementById("Cholesterol").value;
    var tri = document.getElementById("Triglycerides").value;
    var hdl = document.getElementById("HDLCholesterol").value;
    var ldl = document.getElementById("LDLCholesterol").value;
    var vld = document.getElementById("VLDLCholesterol").value;
    var lra = document.getElementById("LDLHDLCholesterol").value;
    var ure = document.getElementById("Urea").value;
    var crea = document.getElementById("Creatinine").value;
    var sod = document.getElementById("Sodium").value;
    var uri = document.getElementById("Uric").value;
    var pot = document.getElementById("Potassium").value;
    var pho = document.getElementById("Phosphorous").value;
    var bil = document.getElementById("Bilirubin").value;
    var alk = document.getElementById("Alkaline").value;
    var pro = document.getElementById("Protein").value;
    var alb = document.getElementById("Albumin").value;
    var gam = document.getElementById("Gamma").value;
    var glo = document.getElementById("Globulin").value;

    var jsonObj = {
      myArray : []
    }
    jsonObj.myArray.push(hae);
    jsonObj.myArray.push(leu);
    jsonObj.myArray.push(neu);
    jsonObj.myArray.push(lym);
    jsonObj.myArray.push(eos);
    jsonObj.myArray.push(mon);
    jsonObj.myArray.push(cho);
    jsonObj.myArray.push(tri);
    jsonObj.myArray.push(hdl);
    jsonObj.myArray.push(ldl);
    jsonObj.myArray.push(vld);
    jsonObj.myArray.push(lra);
    jsonObj.myArray.push(ure);
    jsonObj.myArray.push(crea);
    jsonObj.myArray.push(sod);
    jsonObj.myArray.push(uri);
    jsonObj.myArray.push(pot);
    jsonObj.myArray.push(pho);
    jsonObj.myArray.push(bil);
    jsonObj.myArray.push(alk);
    jsonObj.myArray.push(pro);
    jsonObj.myArray.push(alb);
    jsonObj.myArray.push(gam);
    jsonObj.myArray.push(glo);

    $(this).parent().find("input").filter(function() {
            this.value= "";
        });
    $.ajax({
    type:"post",
    url:"/storedata",
    dataType: 'json',
        data: JSON.stringify(jsonObj),
        contentType: 'application/json',
        success: function(data){
           alert("success");
           alert(data);
    }
    });

    $("#myModal").modal("show");
    document.getElementById("txtfname").innerHTML = "Data successfully saved to your database.";

    }



    });



    </script>
